body{
  font-family: Georgia, Cambria, "Times New Roman", Times, "Hiragino Sans GB", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", serif;
}
.main-container{
	margin-top: 100px;
}

.kurztext-intro{
  background-color: rgba(255,255,255,0.4);
  padding: 20px;
  border: #E6E6E6 10px solid;
}

.kurztext-intro .subtitle p{
  font-size: 20px;

}

.kurztext-intro .intro p{
  font-size: 18px;
}

.intro-highlight strong{
  font-size: 20px;
}
.kurztext-section{
  margin-bottom: 50px;
}

.thumbnail > img{
  height: 225px;
}

.img-resposive {
  display: block;
  max-width: 100%;
  height: auto;
  padding-top: 10px;